@keyframes notification-appear{
    0%{
        bottom: -2rem;
        opacity: 0;
    }

    80% {
        bottom: 11rem;
        opacity: 1;
    }

    60% {
        bottom: 10rem;
    }

    100% {
        bottom: 10rem;
    }
}

@keyframes notification-hide {
    0% {
        bottom: 10rem;
        opacity: 1;
    }

    100%{
        bottom: -2rem;
        opacity: 0;
    }
}

@keyframes modal-appear {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}