.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(58, 46, 46, 0.607);
    backdrop-filter: blur(60);
    display: none;
    animation: modal-appear 0.2s linear;
    z-index: 10;

    &__content{
        background-color: $surface;
        padding: 3rem;
        border-radius: 15px;
        color: white;
        width: 400px;
        margin: auto;

    
        .title {
            font-style: normal;
            font-size: 1.5rem;
            margin-bottom: 0.5rem;
        }

        .btn-group {
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: end;
            margin-top: 1rem;
            width: 100%;
            gap: 5px;
        }
    }
}