header {
    padding: 1rem;
    background: $nav-bg;
    box-shadow: rgba(236, 215, 215, 0.408) 0px 1px 3px;
    padding-inline: 2rem;

    .title {

        &__icon{
            border-radius: 50%;
            background-color: $nav-icon;
            padding: 0.2rem;
            font-style: normal;
            // cursor: none;
            pointer-events: none;
            margin-right: 1rem;
        }

        &__text {
            color: transparent;
            background: linear-gradient(to right, rgb(223, 236, 220), rgb(90, 42, 54), rgb(255, 255, 255));
            background-clip: text;
        }
    }

    &:hover {
        border: red 1px;
    }
}
