.notification{
    position: fixed;
    bottom: -8rem;
    right: 1rem;
    background-color: $bg;
    border-radius: 20px;
    padding: 1.2rem;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.8rem;

    .title {
        border-bottom: white solid 1px;
        padding-bottom: 0.2rem;
        color: white;
    }

    .message {
        margin-top: 0.3rem;
    }
}

.notification-open {
    animation: notification-appear 2s ease-in-out forwards;
}

.notification-close {
    animation: notification-hide 2s ease-in-out forwards;
}